body {
    background-color:#8098ff ;
    item-align: center;
    margin-top: 300px;
    margin-bottom: 100px;
}

.ft {
    background-color: #131315;
    border: 2px;
    border-radius: 10px;
    height:350px;
    width:300px;
    padding-top: 10px;
    padding-left: 15px;
    margin-left: 200px;
    margin-right: 200px;
}

.find {
    font-family:Arial;
    font-size:20px;
    font-weight:700;
    color: #ffffff;
    item-align: centre;;
    padding-left:75px;
    margin-top: 50px;
}

.btn {
    background-color:#8098ff ;
    color:#ffffff;
    border: none;
    border-radius: 8px;
    width:290px;
    height:40px;
    cursor:pointer;
    font-weight:500;
    margin-top:105px;
}

.btn:hover {
    background-color:black;
}

.email {
    font-family:Arial;
    font-weight:500;
    font-size:15px;
    color:#ffffff;
    margin-bottom: 10px;
}

.email-1 {
    border-radius: 5px;
   margin-bottom: 10px;
   background-color:#595959;
   width:280px;
   height:40px;
}

.mobile {
    text-decoration:none;
    color: #5160a1;
    font-size:15px;
    margin-bottom:10px;
}
